{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ student.name }} {{ student.surname }} Details{% endblock %}
{% block selected_students %}selected{% endblock %} 
{% block content %}
        <div class=container>
	    <div class=c_photo>
		<h1 class="glow_cyan_t">{{ student.name }} {{ student.surname }}</h1>
		<img class="glow_cyan img-circle" src="{% static 'images/unknown.jpg' %}"/>
	    </div>
	    <div class="c_contacts score_table">
		<table class="stud_table glow_cyan">
		    <tr>
			<td>Surname</td><td>{{ student.surname }}</td>
		    </tr>
		    <tr>
			<td>Name</td><td>{{ student.name }}</td>
		    </tr>
		    <tr>
			<td>E-mail</td><td>{{ student.email }}</td>
		    </tr>
		    <tr>
			<td>Phone</td><td>{{ student.phone }}</td>
		    </tr>
		    <tr>
			<td>Birth Date</td><td>{{ student.date_of_birth }}</td>
		    </tr>
		    <tr>
			<td>Address</td><td>{{ student.address }}</td>
		    </tr>
		    <tr>
		        <td>Skype</td><td>{{ student.skype }}</td>
		    </tr>
		    <tr>
			<td>Courses</td><td>{% for course in student.courses.all %}<a href="{% url 'courses:detail' course.id %}">{{ course }}</a><br>{% endfor %}</td>
		    </tr>
		</table>
	    </div>
	</div>
{% endblock content %}
{% block footer %}"footer atbottom"{% endblock %}
