
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Basic page for Django course">
    <meta name="author" content="Ivan Tarasenko">
    <title>Student "Yoda, master the" details</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>
	<!-- Navigation -->
	<nav class="nav_bar navigation">
	    <div class=container>
		<div class=row>
		    <div class="col-md-12">
		    <ul class="menu fading l_tinynav1">
		    <li><a href="{% url 'index' %}">Main</a></li>
		    <li><a href="{% url 'contact' %}">Contacts</a></li>
		    <li><a class="selected" href="{% url 'students:list_view' %}">Students</a></li>
		    </ul>
		    </div>
		</div>
	    </div>
	</nav>
        <div class=container>
	    <div class=c_photo>
		<h1 class="glow_cyan_t">{{student.name}} {{student.surname}}</h1>
		<img class="glow_cyan img-circle" src="{% static 'images/unknown.jpg' %}"/>
	    </div>
	    <div class="c_contacts score_table">
		<table class="stud_table glow_cyan">
		    <tr>
			<td>Surname</td><td>{{student.surname}}</td>
		    </tr>
		    <tr>
			<td>Name</td><td>{{student.name}}</td>
		    </tr>
		    <tr>
			<td>E-mail</td><td>{{student.email}}</td>
		    </tr>
		    <tr>
			<td>Phone</td><td>{{student.phone}}</td>
		    </tr>
		    <tr>
			<td>Birth Date</td><td>{{student.date_of_birth}}</td>
		    </tr>
		    <tr>
			<td>Address</td><td>{{student.address}}</td>
		    </tr>
		    <tr>
		        <td>Skype</td><td>{{student.skype}}</td>
		    </tr>
		    <tr>
			<td>Courses</td><td>{% for course in student.courses.all %}<a href="{% url 'courses:detail' course.id %}">{{course}}</a><br>{%endfor%}</td>
		    </tr>
		</table>
	    </div>
	</div>
        <div class=footer>
	    <h4 class="glow_red_t atbottom"><p class="text-capitalize">© 2015. Ivan Inc. Все права защищены.</p></h4>
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
