{% extends "base.html" %}

{% block title %}{{ student.name }} {{ student.surname }} Edit Form{% endblock %}

{% block selected_students %}selected{% endblock %}

{% block content %}
        <div class="container at_center">
	<br>
	{% if messages %}
	    {% for message in messages %}
	    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ message }}
	    </div>
	    {% endfor %}
	{% endif %}
	<h1 class="glow_cyan_t">Edit Jedi data</h1>
		<form method="post">
			{% csrf_token %}
			<table>
			{{ form.as_table}}
			</table>
			<input type="submit" value="Save" />
		</form>
    	</div>
{% endblock content %}

{% block footer %}"footer atbottom"{% endblock %}
