{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Pybursa Students{% endblock %}
{% block selected_students %}selected{% endblock %} 
{% block content %}
        <div class=container>
	     {% if messages %}
		<br>
		<div class="alert alert-success alert-dismissible glow_cyan" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    		{% for message in messages %}
    		{{ message }}
    		{% endfor %}
		</div>
		{% endif %}
	     <h1 class="glow_cyan_t">Enrolled Students to Jedi Academy</h1>
	     <span class="glow_red_t t_red">Below you can see a list of PyBursa students graduated in April 2015</span>
	     <p class="add_button"><a href="{% url 'students:add' %}" class="glow_cyan">Add a new student</a></p>
	     <table class="stud_table no_margin glow_cyan">
		<thead>
		    <tr>
	    		<th>#</th>
			<th>Fullname</th>
			<th>Address</th>
			<th>Skype</th>
			<th>Courses</th>
			<th></th>
			<th></th>
		    </tr>
		</thead>
		<tbody>
		    {% for student in students %}
		    <tr>
			<td>{{ student.id }}</td>
			<td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}<a></td>
			<td>{{ student.address }}</td>
			<td>{{ student.skype }}</td>
			<td>{% for course in student.courses.all %}<a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br>{% endfor %}</td>
			<td class="table_center"><a href="{% url 'students:edit' student.id %}"><button type="button" class="btn btn-info" onclick="/"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button></a></td>
			<td class="table_center"><a href="{% url 'students:remove' student.id %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button></a></td>
		    </tr>
		    {% endfor %}
		</tbody>
	     </table>
	</div>
{% endblock content %}
{% block footer %}"footer atbottom"{% endblock %}

