
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Basic page for Django course">
    <meta name="author" content="Ivan Tarasenko">
    <title>PyBursa Students List</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>
	<!-- Navigation -->
	<nav class="nav_bar navigation">
	    <div class=container>
		<div class=row>
		    <div class="col-md-12">
		    <ul class="menu fading l_tinynav1">
		    <li><a href="{% url 'index' %}">Main</a></li>
		    <li><a href="{% url 'contact' %}">Contacts</a></li>
		    <li><a class="selected" href="{% url 'students:list_view' %}{% if course_id %}?course_id={{course_id}}{%endif%}">Students</a></li>
		    </ul>
		    </div>
		</div>
	    </div>
	</nav>
        <div class=container>
	     <h1 class="glow_cyan_t">Enrolled Students to Jedi Academy</h1>
	     <span class="glow_red_t t_red">Below you can see a list of PyBursa students graduated in April 2015</span>
	     <table class="stud_table glow_cyan">
		<thead>
		    <tr>
	    		<th>#</th><th>Fullname</th><th>Address</th><th>Skype</th><th>Courses</th>
		    </tr>
		</thead>
		<tbody>
		    {% for student in students %}
		    <tr>
			<td>{{student.id}}</td><td><a href="{% url 'students:detail' student.id %}">{{student.surname}} {{student.name}}<a></td><td>{{student.address}}</td><td>{{student.skype}}</td><td>{% for course in student.courses.all %}<a href="{% url 'courses:detail' course.id %}">{{course.name}}</a><br>{%endfor%}</td>
		    </tr>
		    {% endfor %}
		</tbody>
	     </table>
	</div>
	
        <div class="footer atbottom">
	    <h4 class=glow_cyan_t>© 2015 Ivan Inc. Все права защищены.</h4>
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
