.menu{margin:0;padding:0;list-style:none;}
.menu ul{margin:0;padding:0;list-style:none;}
.menu li,.menu ul a{position:relative;}
.menu > li{float:left;}
.menu > li.floatr{float:right;}
.menu li > a{display:block;}
.menu a small{display:block;}
.menu ul{position:absolute;display:none;width:180px;}
.menu ul ul{top:0;left:180px;}
.menu ul li a{webkit-transition:all 0.3s ease-in-out;}
.menu ul li a:hover{padding-left:15px !important;border-left:3px solid #b3b3b3;}
.menu > li.floatr > ul{right:0;}
.menu > li.floatr > ul ul{left:-180px;}
.menu li:hover > ul{display:block;}
.menu .cols1,.menu .cols2,.menu .cols3,.menu .cols4,.menu .cols5{position:absolute;display:none;overflow:hidden;}
.menu .cols1,.menu .col1{width:220px;}/*160*/
.menu .cols2,.menu .col2{width:320px;}
.menu .cols3,.menu .col3{width:520px;}/*480*/
.menu .cols4,.menu .col4{width:640px;}/*640*/
.menu .cols5,.menu .col5{width:800px;}
.menu > li.floatr > div{right:0;}
.menu > li:hover > div{display:block;}
.menu .col1,.menu .col2,.menu .col3,.menu .col4,.menu .col5{float:left;}
.nav_bar {height: 47px;background-color: #75B34A;}
.nav_bar .menu a{text-decoration:none;}
.nav_bar .menu > li{border-right:1px solid #227393;border-right:1px solid rgba(0, 0, 0, 0.3);}
.nav_bar .menu > li:hover > a {background-color: #fff;color: #333;border-left: none;padding-left: 21px;text-shadow:none;box-shadow: inset 0 3px #eee;}
.nav_bar .menu .selected  {background-color: #699A58;color: #333;border-left: none;padding-left: 21px;text-shadow:none;box-shadow: inset 0 3px #eee;}
.nav_bar .menu > li:first-child{border-left:1px solid #227393;border-left:1px solid rgba(0, 0, 0, 0.3);}
.nav_bar .menu > li:last-child a{border-right:1px solid #59b5da;border-right:1px solid rgba(255, 255, 255, 0.2);}
.nav_bar .menu > li > a{color:#fff;font-weight:600;line-height:18px;text-shadow:0 -1px #155b76;padding:13px 20px 16px;border-left:1px solid #59b5da;border-left:1px solid rgba(255, 255, 255, 0.2);}
.nav_bar .menu > li.floatr{border-right:none;border-left:1px solid #227393;border-left:1px solid rgba(0, 0, 0, 0.3);}
.nav_bar .menu > li > a img,
.nav_bar .menu li > ul > li > a img{border:0;margin-right:7px;}
.nav_bar .menu ul{background-color:#fff;border:1px solid #b3b3b3;border-top:none;}
.nav_bar ul{left:-1px;}
.nav_bar .menu > li.floatr > ul{right:-1px;left:auto;}
.nav_bar .menu > li.floatr > ul ul{left:-127px;}
.nav_bar .menu ul a{color:#555;font-weight:400;font-size:13px;line-height:18px;padding:9px 12px;border-top:1px solid #e4e4e4;}
.nav_bar .menu ul a:hover{background-color:#f0f0f0;}
.nav_bar .menu ul ul li:first-child a{border-top-color:#b3b3b3;}
.nav_bar .menu li > div{background-color:#fff;border:1px solid #b3b3b3;border-top:none;left:-1px;padding:10px;}
.nav_bar .menu > li.floatr > div{right:-1px;left:auto;}
.nav_bar .menu h4,.nav_bar .menu h5{margin:0;padding:0;}
.nav_bar .menu h4{font-size:15px;color:#888;font-weight:normal;margin:10px 10px 5px;padding-bottom:10px;border-bottom:1px solid #e1e1e1;}
.nav_bar .menu h5{font-size:14px;color:#333;font-weight:700;margin:10px 10px 0;}
.nav_bar .menu div ul{position:relative;width:auto;margin:7px 10px;border:none;left:auto;}
.nav_bar .menu div ul li a{color:#777;font-size:12px;padding:3px 0;border:none;line-height:inherit;}
.nav_bar .menu div ul li a:hover{background-color:transparent;color:#333;padding-left:5px !important;}
.nav_bar .menu p{color:#555;font-size:12px;line-height:18px;margin:9px 10px;padding:0;}
.nav_bar .menu p a{color:#888;text-decoration:underline;}
.nav_bar .menu p a:hover{color:#555;}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret{border-bottom-color:#777777;border-top-color:#777777;}
.nav .dropdown-toggle .caret{border-bottom-color:#30304d;border-top-color:#30304d;}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus{cursor:pointer;}
.nav-stacked.nav-tabs{width:100%;border:0}
.nav-stacked.nav-tabs .parent ul{list-style:none;margin:0;}
.nav-stacked.nav-tabs .parent ul li a{background-color:#f1f1f1;color:#333;text-shadow:0 1px 0 #fff;border:1px solid #E5E5E5;display:block;margin:0 0 -1px;padding:8px 14px;}
.nav-stacked.nav-tabs .parent ul li a:hover{background-color:#f0f0f0;}
.nav-stacked.nav-tabs li:last-child li:last-child a{border-radius:0 0 4px 4px}
.nav-stacked.nav-tabs .active:last-child a{border-radius:0;}
.nav-stacked.nav-tabs .icon-chevron-right,
.nav-stacked.nav-tabs .icon-chevron-down{float:right;margin-right:-6px;margin-top:2px;}
.nav-stacked.nav-tabs .icon-chevron-right{opacity:0.25;}
.nav-tabs.nav-stacked > li > a{border:0;border-radius:0;padding:5px 5px 5px 15px;}
.contact { margin:20px; height: 330px}
.contact .skype { background-image: url(../images/skype.png); background-size: 27px 27px; background-repeat:no-repeat}
.contact .email { background-image: url(../images/email.png); background-size: 27px 27px; background-repeat:no-repeat}
.contact .phone { background-image: url(../images/phone.png); background-size: 27px 27px; background-repeat:no-repeat}
.contact h2 {color:red; text-align:center }
.contact h3 {padding-left:35px}
.c_photo img { height: 300px; width: 300px }
.c_photo { text-align: center;float:left; width:40%}
.c_contacts {float:left; width:60%}
.footer { width:100%; text-align: center !important}
.atbottom { position:absolute; bottom:0; width:100%; }
.nd { display:none }
.main-header { width: 100%; text-align: center;   height: 650px}
.main-header a { position: relative; top: -400px; background-color: rgba(0, 0, 0, 0.5);color:#eeeeee; font-weight:bold; padding: 20px 40px; width: 300px; height: 50px; border: 3px solid; border-color: white; text-decoration:none;}
.main-header a:hover { background-color: rgba(0, 0, 0, 0.2); font-weight: bold; color:white; text-shadow: 0 0 80px red, 0 0 70px red, 0 0 60px red, 0 0 50px red, 0 0 40px red, 0 0 30px red;}
.main-header h1 { top: -350px }
.stud_table { margin: 20px; width:100% !important}
.stud_table tr:hover { background-color: #DDD;}
.no_hover tr:hover { background-color: #CCC !important}
.stud_table th { background-color: #9CF; border: solid 1px white; height: 32px; color: black; text-align: center;}
.stud_table tr { background-color: #CCC;}
.stud_table td { border: solid 1px white; padding: 4px }
.score_table {height: 460px ;display: flex; justify-content: center; align-items: center;}
.student_performance {margin-left: 25px; float: left; margin-top: 10px;width:100%}
.student_performance h2 { margin-left: 20px; }
.org_name { 
    position: relative;
    top: -420px !important;
    text-shadow: 0 0 80px red, 0 0 70px red, 0 0 60px red, 0 0 50px red, 0 0 40px red, 0 0 30px red;
    color: #F9B0B0 }
.force { top: -390px !important;}
.glow_red {box-shadow: 0 0 40px red, 0 0 35px red, 0 0 30px red, 0 0 25px red, 0 0 20px red, 0 0 15px red;}
.glow_cyan {box-shadow: 0 0 40px cyan, 0 0 35px cyan, 0 0 30px cyan, 0 0 25px cyan, 0 0 20px cyan, 0 0 15px cyan;}
.glow_red_t {text-shadow: 0 0 40px red, 0 0 35px red, 0 0 30px red, 0 0 25px red, 0 0 20px red, 0 0 15px red;}
.glow_cyan_t {text-shadow: 0 0 40px cyan, 0 0 35px cyan, 0 0 30px cyan, 0 0 25px cyan, 0 0 20px cyan, 0 0 15px cyan;}
body, html{
   width: 100%;
   height: 100%;
   background: url('../images/background.jpg') no-repeat center center fixed;
   margin: 0;
   padding: 0;
   -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
           background-size: cover;
}
.t_red { color:red }
