<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jedi Academy">
    <meta name="author" content="Ivan Tarasenko">
    <title>404 Not found</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/404.css' %}" rel="stylesheet">
  </head>
<body class='not_found'>
<img src="{% static 'images/404.jpg' %}" class='not_found_image'>
<h1>{{ message }}</h1>
</body>

</html>