
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Basic page for Django course">
    <meta name="author" content="Ivan Tarasenko">
    <title>PyBursa Contacts</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>

  <body>
	<!-- Navigation -->
	<nav class="nav_bar navigation">
	    <div class=container>
		<div class=row>
		    <div class="col-md-12">
		    <ul class="menu fading l_tinynav1">
		    <li><a href="index.html">Main</a></li>
		    <li><a class="selected" href="contact.html">Contacts</a></li>
		    <li><a href="student_list.html">Students</a></li>
		    </ul>
		    </div>
		</div>
	    </div>
	</nav>
	
	<div class=container>
	    <div class=contact>
		<div class=c_photo> 
		    <img class="img-circle" src="../static/images/director.png"/>
		</div>
		<div class=c_contacts>
		    <h2>Director:</h2>
		    <h3>Name:</h3>
		    <div class=skype><h3>Skype: aaarghd!</h3></div>
		    <div class=email><h3>Email: chubakka_soft@rebels.com</h3></div>
		    <div class=phone><h3>Phone: - </h3></div>
		</div>
	    </div>	
	    <div class=contact>
		<div class=c_photo> 
		    <img class="img-circle" src="../static/images/manager.png"/>
		</div>
		<div class=c_contacts>
		    <h2>Manager:</h2>
		    <h3>Name: Imperial Trooper</h3>
		    <div class=skype><h3>Skype: save_our_souls</h3></div>
		    <div class=email><h3>Email: storm_trooper_1999244@imperium.com</h3></div>
		    <div class=phone><h3>Phone: +1(555)-kill-rebels</h3></div>
		</div>
    	    </div>	
	    <div class=contact>
		<div class=c_photo> 
		    <img class="img-circle" src="../static/images/r2d2.jpg"/>
		</div>
		<div class=c_contacts>
		    <h2>Founder</h2>
		    <h3>Name: R2D2</h3>
		    <div class=skype><h3>Skype: r2d2_ma3a_tr3ad</h3></div>
		    <div class=email><h3>Email: r2d2@star-wars.com</h3></div>
		    <div class=phone><h3>Phone: +981(1237)15-15-12-r2d2</h3></div>
		</div>
    	    </div>	
	</div>
    <div class=footer>
    <h4> © 2015 Ivan Inc. Все права защищены. </h4>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
