{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Pybursa Main{% endblock %}

{% block selected_main %}selected{% endblock %} 

{% block content %}
	    <div class=main-header>
		<img src = {% static 'images/index.jpg'%}/>
		<h1 class="org_name">Jedi Academy</h1>
		<a href=#>Enroll for the course</a>
		<h1 class="org_name force">Let the <b>Force</b> be with you</h1>
	    </div>	
	    <div class=container>
	    	<h1 class="glow_cyan_t">Jedi Academy Courses, choose the side</h1>
	    	<table class="stud_table glow_cyan">
		    <thead>
		       <tr>
		       <th>Course</th><th>Description</th>
		       </tr>
		    </thead>
		    <tbody>
		    {% for course in courses %}
		       <tr>
		       <td><a href="{% url 'courses:detail' course.id %}">{{ course|upper }}</a></td><td>{{ course.short_description|title }}</td>
		       <tr>
		    {% endfor %}
		    </tbody>
	        </table>
	    </div>
{% endblock content %}

{% block footer %}footer{% endblock %}


