
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Basic page for Django course">
    <meta name="author" content="Ivan Tarasenko">
    <title>PyBursa Main</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>
	<!-- Navigation -->
	<nav class="nav_bar navigation">
	    <div class=container>
		<div class=row>
		    <div class="col-md-12">
		    <ul class="menu fading l_tinynav1">
		    <li><a class="selected" href="{% url 'index' %}">Main</a></li>
		    <li><a href="{% url 'contact' %}">Contacts</a></li>
		    <li><a href="{% url 'student_list' %}">Students</a></li>
		    </ul>
		    </div>
		</div>
	    </div>
	</nav>
	
	    <div class=main-header>
		<a href=#>Enroll for the course</a>
		<a href=# class=sr-only></a>
	    </div>	
	    <div class=container>
	     <h1>PyBursa Description</h1>
	     <p class=text-info>This PyBursa course aims to teach everyone the basics of programming computers using Python. We cover the basics of how one constructs a program from a series of simple instructions in Python. The course has no pre-requisites and avoids all but the simplest mathematics. Anyone with moderate computer experience should be able to master the materials in this course. This course will cover Chapters 1-5 of the textbook “Python for Informatics”. This course is equivalent to the first half of the 11-week "Programming for Everybody (Python)" course. Once a student completes this course, they will be ready to take more advanced programming courses.</p>
	     <h1>Program</h1>
	     <p class=text-success>These are the course-wide materials as well as the first part of Chapter One where we explore what it means to write programs. We finish Chapter One and have the quiz and first assignment in the third week of the class. Throughout the course you may want to come back and look at these materials. This section should not take you an entire week. In this module you will set things up so you can write Python programs. Not all activities in this module are required for this class so please read the "Using Python in this Class" material for details.</p>
	     <h1>Capstone: Retrieving, Processing, and Visualizing Data with PythonProgram</h1>
	     <p class=text-primary>In the capstone, students will build a series of applications to retrieve, process and visualize data using Python. The projects will involve all the elements of the specialization. In the first part of the capstone, students will do the same visualizations to become familiar with the technologies in use (Excel, and D3.js) and then will pursue their own project to visualize some other data that they have or can find. Chapter 15 from the book “Python for Informatics” will serve as the backbone for the capstone.</p>
	    </div>
     <div class=footer>
    <h4>© 2015 Ivan Inc. Все права защищены.</h4>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
