
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Basic page for Django course">
    <meta name="author" content="Ivan Tarasenko">
    <title>Student "Yoda, master the" details</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>

  <body>
	<!-- Navigation -->
	<nav class="nav_bar navigation">
	    <div class=container>
		<div class=row>
		    <div class="col-md-12">
		    <ul class="menu fading l_tinynav1">
		    <li><a href="index.html">Main</a></li>
		    <li><a href="contact.html">Contacts</a></li>
		    <li><a class="selected" href="student_list.html">Students</a></li>
		    </ul>
		    </div>
		</div>
	    </div>
	</nav>
        <div class=container>
	    <div class=c_photo>
		<h1>Yoda,master the</h1>
		<img class="img-circle" src="../static/images/yoda.jpg"/>
	    </div>
	    <div class="c_contacts score_table">
		<table class="stud_table">
		    <tr>
			<td>Surname</td><td>The</td>
		    </tr>
		    <tr>
			<td>Name</td><td>Yoda</td>
		    </tr>
		    <tr>
			<td>Patronymic</td><td>Master</td>
		    </tr>
		    <tr>
		        <td>Rating</td><td>20</td>
		    </tr>
		    <tr>
		        <td>Average Grade</td><td>99.9</td>
		    </tr>
		    <tr>
			<td>E-mail</td><td>com@yoda.master</td>
		    </tr>
		    <tr>
			<td>Package</td><td>Standard</td>
		    </tr>
		    <tr>
			<td>Birth Date</td><td>11/02/1989</td>
		    </tr>
		    <tr>
			<td>Address</td><td>Ukraine, Kharkiv, Ivanova str, 36 ap.3</td>
		    </tr>
		    <tr>
			<td>Post</td><td>61000</td>
		    </tr>
		    <tr>
		        <td>Skype</td><td>yoda.master.the</td>
		    </tr>
		</table>
	    </div>
	    <div class=student_performance>
		<h2>Performance</h2>
		<table class="stud_table no_hover">
		    <thead>
			<tr>
			<th>Course</th><th>Week</th><th>Control Type</th><th>Grade</th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td rowspan=5>PY101 Введение в python</td><td rowspan=3>Week 1</td><td>Tests</td><td>99%</td>
			</tr>
			<tr>
			    <td>Problem Task #1</td><td>100%</td>
			</tr>
			<tr>
			    <td>Problem Task #2</td><td>100%</td>
			</tr>
			<tr>
			    <td rowspan=2>Week2</td><td>Tests</td><td>100%</td>
			</tr>
			<tr>
			    <td>Problem Task #1</td><td>100%</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>
        <div class=footer>
	    <h4>© <mark>2015</mark><p class="text-capitalize">Ivan Inc. Все права защищены.</p></h4>
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
